<aside class="sidebar">
  <nav class="nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      Dashboard
    </a>
    <a routerLink="/income" routerLinkActive="active" class="nav-item">
      Income
    </a>
    <a routerLink="/expense" routerLinkActive="active" class="nav-item">
      Expense
    </a>
    <a routerLink="/investments" routerLinkActive="active" class="nav-item">
      Investments
    </a>
    <a routerLink="/transactions" routerLinkActive="active" class="nav-item">
      Transactions
    </a>
  </nav>
</aside>
